<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-content>
                <ion-row>
                    <ion-col col-12>
                        <ion-list>
                            <ion-item>
                                <ion-label floating>Username</ion-label>
                                <ion-input type="text" [(ngModel)]="username"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label floating>Password</ion-label>
                                <ion-input type="password" [(ngModel)]="password"></ion-input>
                            </ion-item>
                            <ion-item>
                                <button ion-button full (click)="submitForm()">Login</button>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
