<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Maps" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="List Lokasi" tabIcon="list"></ion-tab>
  <!-- <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab> -->
  <ion-tab tabTitle="Logout" tabIcon="contacts" (ionSelect)="logout()"></ion-tab>
</ion-tabs>
