<ion-header>
  <ion-navbar>
    <ion-title>
      Map
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-content>
    <ion-item>
      <ion-label>Latitude</ion-label>
      <ion-input disabled value="{{ pos['latitude'] }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>longitude</ion-label>
      <ion-input disabled value="{{ pos['longitude'] }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Nama</ion-label>
      <ion-input type="text" [(ngModel)]="alamat"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Jalan</ion-label>
      <ion-textarea type="text" readonly [(ngModel)]="jalan"></ion-textarea>
    </ion-item>
    <ion-item>
      <button ion-button (click)="send()">Submit</button>
      <button ion-button (click)="loadMap()">Recenter Map</button>
      <button ion-button (click)="sync()">Send To Server</button>
    </ion-item>
    <!-- <button ion-button (click)="addMarker()">mark Map</button> -->
    <!-- <div #map id="map"></div> -->
  </ion-content>
</ion-content>
