<!--
  Generated template for the ListItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>List Location</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let location of locations">
            <h1>{{ location.nama }}</h1>
            <p>Latitude : {{ location.lat }}</p>
            <p>Latitude : {{ location.lng }}</p>
            <ion-icon name="trash" color="danger" item-end  (click)="remove(location.id)"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
